

<div class="login-page">

    <div class="login-container">

        <span class="logo">your app</span>
        
        <span class="input-title">[L: username ]</span>
        <input type="text" name="username" placeholder="Enter your username"
            value="" onkeyup="_C_.usernameChanged(this)" autocomplete="your-app username" />
        
        <span class="input-title">[L: password ]</span>
        <input type="password" name="password" placeholder="Enter your password"
            value="" onkeyup="_C_.passwordChanged(this)" />
        
        <button title="Login" type="submit" onclick="_C_.loginPressed()">[L: login ]</button>

    </div>

</div>
